* {
    box-sizing: border-box;
    font-family: Sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.homepage{
    background-image: url("images/mtns-mos.png");
    background-size: cover;
}

.home-header{
    background-color: black;
    border-bottom: 5px solid grey;
}

.home-nav a {
    display: inline-block;
    padding: .7em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 175%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/colo-springs-c.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0 30%;
    padding-bottom: 30px;
    border-bottom: 5px solid grey;
}

.nav a {
    display: inline-block;
    padding: .7em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 175%;
}

.nav {
    /*border-bottom: 1px solid grey;*/
    padding-bottom: 50px;
}

.nav a:hover {
    color: lightsteelblue;
}

.page-header {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4em;
}

/*Index/Homepage classes*/

.homepage{
    background-image: url("images/homepage_alpha.png");
}

.homepage-title{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 4em;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    padding-top: 300px;
}
.homepage-subtitle{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 3em;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    padding-top: 20px;
}

/*Education classes*/

.page-content {
    margin: 2em;
    margin-left: 6em;
}

.grad-image {
    float: right;
    margin-left: 2em;
    margin-right: 6em;
    
}

.school {
    font-size: 225%;
    margin: 0;
    width: 60%;
    border-bottom: 1px solid grey;
}

.grad-date {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.degree {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.edu-text{
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.awards-list li {
    padding: .4em;
    margin: 0;

}

.awards {
    margin: 0;
    padding-top: 5px;
}

/*Projects classes*/

.projects-title {
    font-size: 225%;
    margin: 0;
    width: 80%;
    border-bottom: 1px solid grey;
}

.projects-main{
    margin: 2em;
    margin-left: 6em;
}

.project-details {
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.project-details h2 {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 175%;
}

.project-details h3 {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 15px;
}

.project-details p {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    line-height: 150%;
}

.project-details ul {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 5px;
}

.chess-app-media {
    float: right;
    margin: 0;
    margin-left: 2em;
    margin-right: 6em;
    border: 3px black solid;
}

.aq-device-media {
    float: right;
    margin: 0;
    margin-left: 2em;
    margin-right: 6em;
    border: 3px black solid;
}

.unity-game-media {
    float: right;
    margin: 0;
    margin-left: 2em;
    margin-right: 6em;
    border: 3px black solid;
    background-color: black;
}

.horizontal-line {
    border-bottom: 1px solid grey;
 }

 .gen-media {
    float: right;
    margin-left: 2em;
    margin-right: 6em;
    border: 3px black solid;
 }

 /*Experience and certifications classes*/

 .projects-title-thm {
    font-size: 225%;
    margin-bottom: 1;
    width: 80%;
    border-bottom: 1px solid grey;
}

 /*About me classes*/


 .headshot {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 3px black solid;
    margin-top: 2em;
 }

 .am-title {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    font-size: 225%;
 }

 .am-content {
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 30px;
    font-size: 125%;
    line-height: 1.5;
 }

 /*Contact classes*/

 .linkedin-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
 }

 .contact-content {
    margin-left: 20em;
    padding-top: 30px;
 }
